*{
    padding: 0px;
}

body{
    display: flex;
  
    background-color: black;
    background-image:url(./Imagens/Estrutura.png) ;
    background-repeat: no-repeat;
    background-position: center;
    
}

.links__aulas{
    display:flex;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    flex-direction: column;
    text-decoration: none;    

}

.links:focus{
    background-color: greenyellow;
}