

.caixa{
background-color: green;
    margin: 10px 20px 100px 40px;
    height: 250px;
    padding: 20px 50px;
   border: solid 5px black;
}
.loren{

    border: dotted 5px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: aqua;
    margin: 20px 20px 20px 20px;
    width: 150px;
    height: 150px;
    border-radius: 11px;
    overflow: scroll;
    margin: 5px 8px;
    padding: 6px 9px;
}

.caixa__titulo{
    color: aliceblue;
    background-color: green;

   
 
}

.caixa__texto{
    background-color: orange;
    width: 50%;
}


.awesome {
    /* propriedades decorativas */
    background-color: red;
    display: inline-block;
    font-size: 32px;
    font-family: Arial;
    
     /* propriedades que fazem o "problema" */
    width: 100px;
    height: 130px;
    overflow: hidden;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
