*{
    margin:0px ;
}


#container__main{
    display: flex;   
    color: aliceblue;
    font-weight: bolder;
    text-align: center;


}

.jornal__container{
    background-color: aqua;
    width: 100%;
}

.jornal__navegacao{
height: 1220px;
background-color: orange;
width: 30%

}


.jornal__container__texto{
height: 80%;
background-color:purple;
display: flex;
}

.jornal__cabecalho{
background-color: aqua;
height: 15%;
}
.jornal__conteudo{
    width: 80%;
    
}
.jornal__barralateral{
background-color: orange;
width: 30%;
}
 .jornal__rodape{

height:10%;
 }













.flexbox__cabecalho{
background-color: brown;
height: 150px;
color: aliceblue;
}

.flexbox_artigos{
    display: flex;
    align-items: stretch;
    height: 720px;
}

.flexbox__nav{
background-color: blue;
width: 20%;
} 

.flexbox__aside{
    background-color: blueviolet;
    width: 30%;
}

.flexbox__article{
    background-color: burlywood;
    width: 50%;
    
}

.flexbox__rodape{
    background-color: aqua;
    text-align: center;
}


#container{

padding: 10px;
display: flex;
flex-direction: row;
gap: 10px;
display: flex;  
/*flex-wrap: wrap; */
background-color: bisque;
justify-content: space-around;
height: 500px;    

    
}
.item{

width: 200px;
height: 200px;
background-color: green;
border: dotted black;
color: white;
}

#item1{
    background-color: blue;
    font-size: 40px;
    order: 4;
}
#item2{
    background-color: darkgreen;
    font-size: 40px;
    order: 3;
}

#item3{
    order: 2;
    font-size: 40px;
    background-color: brown;
}
#item4{
    order: 5;
    font-size: 40px;
    background-color: orange;
}
#item5{
    order: 1;
    font-size: 40px;
    background-color: aqua;
    
}



